<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jatayu.mnknowt"
      android:versionCode="1"
      android:versionName="1.0.0">
    
    <uses-sdk android:minSdkVersion="8"/>

    <application
    	android:debuggable="true" 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:theme="@android:style/Theme.NoTitleBar">
    	
        <activity android:name=".MNknowTActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity 
		    android:name=".FlashCardsActivity" 
		    android:screenOrientation="portrait" />
		
		<activity
		    android:name=".QuizCompletedActivity"
		    android:screenOrientation="portrait" />
		
		<activity
		    android:name=".QuizStatsActivity"
		    android:screenOrientation="portrait" />
					
		<activity 
		    android:name=".QuizActivity"
		    android:screenOrientation="portrait" />
				
    </application>
    
</manifest>