<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jatayu"
      android:versionCode="1"
      android:versionName="1.0.0">
    
    <uses-sdk android:minSdkVersion="8"/>

    <application
    	android:debuggable="true" 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:theme="@android:style/Theme.NoTitleBar">
    	
        <activity android:name=".MNknowTActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity android:name=".QuizActivity"></activity>
		
		<activity android:name=".QuizResultActivity"></activity>
		
		<activity android:name=".QuizHistoryActivity"></activity>
		
		<activity android:name=".RoadSignActivity"></activity>
		
		<activity android:name=".QuizReviewActivity"></activity>
		
    </application>
    
</manifest>